urls_config: "./urls.config"
screenshot_path: "./screenshots"
archiv_path: "./archiv"
compare_path: "./compare"
report_path: "./report"
selenium_hub_url: "http://localhost:4444/wd/hub"
appium_hub_url: "http://localhost:4723/wd/hub"
testobject_username: "xxx"
testobject_apikey: "yyy"
compare_threshold: 0.5
devices:
    - xs
    - sd_landscape
    - sd_portrait
    - md
    - lg
    - xl